/* GENERAL */
:root {
  --main-color: #0089c7;
  --color-text: #333;
  --body-background-color: rgb(250, 250, 250);
  --border-bottom-color: #ddd;
  --main-gradient: linear-gradient(to bottom, #019be3, #0089c7);
  --shadow: 0 0 10px 0.25rem rgb(13 110 253 / 10%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text) !important;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--body-background-color);
  padding: 30px;
}

/* CONTENT */
.heading {
  border-bottom: 2px solid var(--border-bottom-color);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
/* add button */
.add-btn {
  width: 146.9px;
  background: var(--main-gradient);
  margin-bottom: 20px;
  position: absolute;
  right: 17rem;
  z-index: 100;
}
@media (max-width: 640px) {
  .add-btn {
    right: 27rem;
    top: 10.7rem;
  }
}
@media (max-width: 550px) {
  .add-btn {
    right: 25rem;
  }
}
.btn.add-btn:focus {
  box-shadow: 0 0 10px 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
}
/* search button */
.form-control {
  width: initial;
  display: inline-block;
  margin-right: 5px;
}
.form-control:focus {
  box-shadow: var(--shadow);
}
/* table */
table.dataTable.no-footer {
  border-bottom: none;
  padding-top: 10px;
}
tr {
  border-bottom: 1px solid #ccc;
}
/* pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #0183bf !important;
}
.dataTables_wrapper
  .dataTables_paginate
  .paginate_button:not(.disabled):not(.current):hover {
  color: white !important;
  border: 1px solid #ccc;
  background: var(--main-gradient);
}
.btn {
  color: #ebe8e8 !important;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color) !important;
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}
.page-link {
  color: var(--bs-pagination-color) !important;
  background-color: var(--bs-pagination-bg);
}
.disabled .page-link {
  color: var(--bs-pagination-disabled-color) !important;
}
.nav-pagination {
  width: fit-content;
  margin: auto;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: linear-gradient(to bottom, #fff 0%, #0088c748 100%);
}
